
<% if user_signed_in? %>

  <p>Today is <%= @whatDay %></p>
  <p>Order from <strong><%= @restName %></strong>: <%= link_to "view menu", @menuURL, :target => "_blank", :class => "btn" %></p>

  <%= simple_form_for(@order, html: { class: "form-horizontal"} ) do |f| %>
    <%= f.error_notification %>

    <%= f.input :content, as: :text, input_html: { rows: "3"} %>
    
    <div class="form-actions">
      <%= f.button :submit, class: "btn btn-primary" %>
    </div>
  <% end %>

  <% else #if they're not logged in, show this %>
   
  <p><%= link_to "Pease sign in to place an order.", new_user_session_path, class: "btn btn-primary" %></p>
  <p><%= link_to "Signup Now", new_user_registration_path, class: "btn" %>

<%end %>