<h1>Today's Orders</h1>
<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>Date Ordered</th>
      <th>Ordered From</th>
      <th>Ordered by</th> 
      <th>Order Content</th>
      <th>Edit Order</th>
      <th>Cancel Order</th>
    </tr>
  </thead>

  <tbody>

    <% if admin_signed_in? %> 
      <% @orders.where( "created_at >?", @todayIs ).each do |order| %>
          <tr>
            <td><%= order.created_at.strftime("%m/%d/%y") %></td>
            <td><%= @restName %></td>
            <td>
                <% thisUser = User.where(id: order.user_id ) %>
                <%= thisUser.first.email %>
            </td>
            <td><%= order.content %></td>
            <td><%= link_to 'Edit', edit_order_path(order) %></td>
            <td><%= link_to 'Cancel', order, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %> 
    <% end %> 
  </tbody>
</table>

<br>

<% if user_signed_in?%> 

  <%= link_to 'Place New Order', new_order_path, class: "btn" %>

<% end %>
